# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.gz
*.ssa2d
*.ssa3d
*.pgm
bin/
build/
build-ui/
cmake-build-debug/
cmake-build-relwithdebinfo/
cmake-build-release/
.idea/
.vscode/
lib/
EXTERNAL/g2o
EXTERNAL/OpenBLAS2
EXTERNAL/SuiteSparse
